<!--<table id="listings" class="table">
  <tr>
      <th>Title</th>
      <th>Buy It Now Price</th>
      <th></th>
  </tr>
  <tr ng-repeat="listing in listings">
      <td><a href="#/listing/{{listing.listingId}}">{{listing.title}}</a></td>
      <td>{{listing.buyItNowPrice | currency}}</td>
      <td>
          <button class="btn btn-default" type="button" ng-click="buyNow(listing)">Buy Now</button>
      </td>
  </tr>
</table>
-->

<!-- styling for list items -->
<div ng-repeat="listing in listings" class="row-fluid">
  <div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading panel-title fa-2x"> {{listing.title}} </div>
    <div style="display:inline">
    <div class="panel-body"><a ng-href="#/listing/{{listing.listingId}}" style="float:left; position:relative; display:inline-block">{{listing.title}}</a>
    <div style="float:right; margin-left:15%; position:relative; display:inline-block"> {{listing.endDate}}</div>
    <div style="float:left; margin-left:15%;position:relative; display:inline-block">{{listing.description}}</div>
    <div style="float:right; position:relative; display:inlin-block">{{listing.buyItNowPrice | currency}}</div>
    <div><a class="btn btn-primary" ng-href="#/purchase/{{listing.listingId}}" style="float:right;position:relative;margin-left:90%;">Buy Now</a></div>
    </div>
    </div>
    </div>
  </div>
</div>
