 <div>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="srchTerm">
          <div class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
          </div>
      </div>
</div>

<div class="row-fluid">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading fa-2x">{{listing.title}}</div>
      <div class="panel-body">
        <div ng-repeat="imgId in listing.imageIds">
          <img src="/images/{{imgId}}">
        </div>

        <!-- This carousel bugs out.
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
        <ol class="carousel-indicators">
           <div ng-repeat="imgId in listing.imageIds">  
                <li data-target="#myCarousel" data-slide-to="$index" class="active" ng-if="$first"></li>
                <div class="carousel-inner" role="listbox">
                <div class="item active" >
                  <img src="/images/{{imgId}}">
                </div>
                <li data-target="#myCarousel" data-slide-to="$index" ng-if="$index > 0"></li>
                 <div class="item" >
                  <img src="/images/{{imgId}}">
                </div>
          </div>  
        </ol>
        </div>
        
        <a class="left carousel-control" target="_self" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" target="_self" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      -->
        <div class="text-info">Seller : {{listing.user.userName}}</div>
        <!--<div class="text-muted">Id: {{listing.listingId}}</div>-->
        <div class="text-info">Description {{listing.description}}</div>
        <div class="text-primary">Buy it Now Price {{listing.buyItNowPrice}}</div>
        <div class="text-warning">Minimum bid Price {{listing.minBid}}</div>
        <div class="text-warning">End date : {{listing.endDate}}</div>
        <div class="text-warning">{{listing.sold}}</div>
        <div class="text-info">Keywords : {{listing.keywords}}</div>
        <div>
              <div><a href="/" class="btn btn-outline btn-primary" style="float:left;">Go back</a></div>
              <div><a ng-ref="#/purchase/{{listing.listingId}}" class="btn btn-outline btn-success" style="float:right;"> Buy now ! </a></div>
        </div>
      </div>
    </div>
  </div>
</div>

