<div class="row-fluid">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Purchase
            </div>
            <div class="panel-body">

                <div class="container-fluid">
                    <div class="row-fluid">

                        <div class="col-lg-10">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#details" data-toggle="tab" target="_self">Details</a>
                                </li>
                                <li><a href="#billing" data-toggle="tab" target="_self">Billing Info</a>
                                </li>
                                <li><a href="#shipping" data-toggle="tab" target="_self">Shipping Info</a>
                                </li>
                                <li><a href="#summary" data-toggle="tab" target="_self">Summary</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="details">

                                    <div class="container-fluid">
                                        <div class="row-fluid">
                                            <div class="col-lg-6">
                                                <img ng-if="listing.imageIds && listing.imageIds.length" ng-src="/listingImage/{{listing.imageIds[0]}}" />
                                                <span ng-if="!listing.imageIds || listing.imageIds.length === 0">
                                                    No image to display    
                                                </span>
                                            </div>
                                            <div class="col-lg-6">
                                                <h4>{{ listing.title }}</h4>
                                                <p>{{ listing.description }}</p>
                                                <!-- Charge Summary -->
                                                <div class="well" style="display: inline-block; padding: 8px;">
                                                    <table style="min-width: 240px;">
                                                        <tbody>
                                                            <tr ng-repeat="item in billingDetails">
                                                                <td style="width: 70%">
                                                                    {{ item.description }}
                                                                    <sup ng-if="item.prompt">[<a ng-click="item.prompt.click()">{{ item.prompt.text}}</a>]</sup>
                                                                </td>
                                                                <td style="width: 2%" class="text-right">$</td>
                                                                <td style="width: 27%" class="text-right">{{ item.amount.formatMoney() }}</td>
                                                            </tr>
                                                            <tr class="strong">
                                                                <td>Total</td>
                                                                <td class="text-right">$</td>
                                                                <td class="text-right">{{ sumBillingDetails(billingDetails).formatMoney() }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /Charge Summary -->
                                                <p>
                                                    Being sold by
                                                    <a ng-click="displaySeller()">
                                                        {{ listing.user.firstName }} {{ listing.user.lastName }}
                                                        <img src="getUserImageSource()" alt="Seller Avatar" class="img-circle" />
                                                    </a>
                                                </p>
                                                <p ng-if="listing.endDate">Sale ends {{ listing.endDate.format('M/dd/yyyy at h:mm ap') }}</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="billing">

                                    <div class="container-fluid">
                                        <div class="row-fluid">
                                            <payment-info info="paymentInfo"></payment-info>
                                        </div>

                                        <div class="form-group row-fluid">
                                            <label>Billing Address</label>
                                            <div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input ng-model="useShippingAddress" type="checkbox" value="">Use Shipping Address
                                                        </label>
                                                    </div>
                                                </div>

                                                <address ng-if="useShippingAddress === false" address="billingAddress"></address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="shipping">
                                    <div class="container-fluid">
                                        <div class="form-group row-fluid">
                                            <label>Ship To</label>
                                            <input type="text" class="form-control" id="shipTo" ng-bind="shipTo" />
                                        </div>
                                        <div class="form-group row-fluid">
                                            <label>Shipping Address</label>
                                            <div>
                                                <address address="shippingAddress"></address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="summary">
                                    <h4>Settings Tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                        id est laborum.</p>
                                </div>
                            </div>

                        </div>
                        <!-- tabs section -->

                        <div class="col-lg-2 text-center">
                            <button id="nextButton" class="btn btn-primary btn-outline btn-block">Next</button>
                            <br/>
                            <small><a ng-click="discourageQuit()">I changed my mind</a></small>
                        </div>
                        <!-- Nav section -->

                    </div>
                    <!-- /row-fluid -->
                </div>
                <!-- /container-fluid -->
            </div>
            <!-- /panel-body -->

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="purchaseModelLabel">{{ alert.title }}</h4>
            </div>
            <div class="modal-body">
                {{alert.text }}
            </div>
            <div class="modal-footer">
                <button ng-repeat="dismiss in alert.dismissals" type="button" class="btn btn-default" data-dismiss="modal">{{ dismiss }}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->