<div class="row-fluid">
    <div class="col-lg-4">&nbsp;</div>
    <div class="col-lg-4">
        <ul>
            <li>Complete address template</li>
            <li>Add keywords to listings</li>
            <li>Get search working</li>
            <li>Prevent items from caching</li>
            <li>Fix image display on purchase page</li>
            <li>Polish listing display</li>
            <li>Add upload images to listing display</li>
            <li>Complete purchase page</li>
            <li>Complete profile page</li>
            <li>Create database copy for demo</li>
            <li>Create intro video</li>
            <li>Add bidding</li>
            <li>Add "runaway" link</li>
            <li>Add filtering/sorting to listings</li>
            <li>Add SSA "ad"</li>
        </ul>
    </div>
    <div class="col-lg-4">&nbsp;</div>
</div>