<div class="row-fluid">
    <div class="col-lg-4">&nbsp;</div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> To Do Items
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                   <a href="#" class="list-group-item">
                        <i class="fa fa-bolt fa-fw"></i> Complete New Listing page (reuse listing detail?)
                        <span class="pull-right text-muted small"><em>High</em>
                                    </span>
                    </a>
 
                     <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Polish purchase page
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Create database copy for demo
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Create intro video
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Add bidding
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Add "runaway" link
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Add filtering/sorting to listings
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Add SSA "ad"
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Typeahead on search
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                     <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Update Listing
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                   </a>

                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Show popup of images + image count
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Polish address directive (used on purchase and profile pages)
                        <span class="pull-right text-muted small"><em>Money</em>
                                    </span>
                    </a>

                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
    <div class="col-lg-4">&nbsp;</div>
</div>