<div class="row-fluid">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> To Do Items
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Comments/Issues</th>
                            <th>Assigned To</th>
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Show popup of images + image count</td>
                            <td>Add close button</td>
                            <td>Jing</td>
                            <td>High</td>
                        </tr>
                        <tr>
                            <td>Purchase</td>
                            <td>Polish billing info; provide feedback on success; disable "Next" on summary tab; bracket "changed
                                my..."
                            </td>
                            <td>Chris</td>
                            <td>High</td>
                        </tr>
                        <tr>
                            <td>Complete New Listing/Update Listing page</td>
                            <td>Update issues; datepicker</td>
                            <td>Rong</td>
                            <td>High</td>
                        </tr>
                        <tr>
                            <td>Bid Page</td>
                            <td>Enable button; mask(?); give feedback on success (& close?);</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Give filter feedback/remove</td>
                            <td>Keywords</td>
                            <td>Fabrizio</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Listings</td>
                            <td>add seller</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Listing Detail</td>
                            <td>Need bid link, update listing</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Data Prep for Demo</td>
                            <td>Create videos (and links), create database copy; add SSA "ad"</td>
                            <td>All</td>
                            <td>Medium</td>
                        </tr>


                    </tbody>
                </table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
</div>